/3.Examples/AuthAndAuth/.idea/
/3.Examples/AuthAndAuth/AuthenticationShemas/bin/
/3.Examples/AuthAndAuth/AuthenticationShemas/obj/
/.idea/
/3.Examples/AuthAndAuth/IdentityProvider/bin/
/3.Examples/AuthAndAuth/IdentityProvider/obj/
/3.Examples/AuthAndAuth/Rebuilding/bin/
/3.Examples/AuthAndAuth/Rebuilding/obj/
